* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
  }

  @font-face {
    font-family: customFont;
    src: url("Fonts/Norse-Bold.otf");
}


body {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-color: rgb(236, 233, 233);
    background-repeat: no-repeat;
    background-size: 500px;
    font-family: customFont;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 75px;
}

.logo-section {
    font-size: 500%;
    color: white;
}

.odin-logo {
    height: 150px;
    width: 100px;
}

.logo {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;    
}

.header-text {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 140%;
    display: block;
    position: absolute;
    top: 30px;
    left: 40%;
}

form {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

.name {
    position: absolute;
    left: 40%;
}

