* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
  }

  @font-face {
    font-family: customFont;
    src: url("Fonts/Norse-Bold.otf");
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    input {
        border: 1px solid #E5E7EB;
        border-radius: 5px;
        height: 30px;
        max-width: 100% 
    }

    * {
        overflow: scroll;
    }
  }


body {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-color: rgb(236, 233, 233);
    background-repeat: no-repeat;
    background-size: 500px 100%;
    font-family: customFont;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 75px;
}

.logo-section {
    font-size: 500%;
    color: white;
}

.odin-logo {
    height: 150px;
    width: 100px;
}

.logo {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;    
}

.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 120%;
    display: block;
    margin-left: 550px;
    margin-top: -240px;
    margin-bottom: 120px;
}

form {
    margin-left: 50px; 
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 70px;
    margin-top: -8px;
}

.form-style {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -80px;
    margin-left: 500px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    min-width: 500px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);    
}


.error:invalid {
    border-color: red;
}

button {
    background-color: #596D48;
    color: white;
    box-shadow: 1px 1px 2px #596D48;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 5px;
    
}

.button-container {
    margin-left: 550px;
    margin-top: 30px;
}

legend {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

a {
    color:#596D48;
    text-decoration: none;
    font-weight: bold;
}

.log-in {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.credit {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;
}

